body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #383735;
}

.search-component {
  max-width: 293px;
  height: 60px;
  border: 1px solid #000;
  display: flex;
  align-items: stretch;
}

.search-component__input {
  -webkit-appearance: textfield;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0 1rem;
}

.search-component__button {
  padding: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-component__input,
.search-component__button {
  border: none;
  background-color: #fff;
  width: 60px;
}

.search-results {
  display: grid;
  grid-gap: 1rem;
  max-width: 293px;
  margin: 1rem 0 0 0;
  padding-left: 0;
  list-style: none;
}

.search-results:empty {
  display: none;
}

.search-results__item {
  height: 47px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
  border: 1px solid #D1CECC;
}

@media (max-width: 480px) {
  .search-component, .search-results {
    max-width: 100%;
  }
}
