body {
  box-sizing: border-box;
}

.search-component {
  max-width: 293px;
  height: 60px;
  border: 1px solid #666;
  display: flex;
  align-items: stretch;
}

.search-component__input {
  flex-grow: 1;
  font-size: 1rem;
  padding: 0 1rem;
}

.search-component__button {
  padding: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-component__input,
.search-component__button {
  border: none;
  background-color: #fff;
  width: 60px;
}

@media (max-width: 480px) {
  .search-component {
    max-width: 100%;
  }
}
